# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/

# Django
db.sqlite3
media/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Static files
staticfiles/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Migrations cache
**/__pycache__/