{% extends "base.html" %}

{% block title %}
Cuenta
{% endblock %}

{% block content %}

<h2>
    {{ account.customer.name }}
</h2>

<p>
    <strong>Temporada:</strong>
    {{ account.season.name }}
</p>

<hr>

<h3>
    Saldo actual:
    {{ account.balance }} €
</h3>

<div class="flex gap-3 mb-6">
    <a href="{% url 'transactions:charge_create' account.id %}"
       class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">
        + Registrar pedido
    </a>

    <a href="{% url 'transactions:payment_create' account.id %}"
       class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700">
        + Registrar pago
    </a>
</div>

<hr>

<h3>Movimientos</h3>

<table border="1" cellpadding="8">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Importe</th>
        </tr>
    </thead>

    <tbody>
        {% for transaction in account.transactions.all %}
        <tr>

            <td>
                {{ transaction.date }}
            </td>

            <td>
                {{ transaction.get_movement_type_display }}
            </td>

            <td>
                {{ transaction.description }}
            </td>

            <td>
                {{transaction.signed_amount}}
            </td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="4">
                No hay movimientos
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}