{% extends "base.html" %}

{% block title %}
Clientes
{% endblock %}

{% block content %}

<h2>Clientes</h2>

<div class="mb-6">
    <a
        href="{% url 'customers:customer_create' %}"
        class="bg-blue-600 text-white px-4 py-2 rounded"
    >
        + Nuevo cliente
    </a>
</div>


<ul>
    {% for customer in customers %}
        <li>
            <a href="{% url 'customers:customer_detail' customer.pk %}">{{customer.name}}</a>
        </li>
    {% empty %}
        <li>No hay clientes</li>
    {% endfor %}
</ul>

{% endblock %}