{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="es">

<head>
    {% tailwind_css %}
    <meta charset="UTF-8">

    <!-- Tu archivo JS -->
    <script src="{% static 'js/main.js' %}"></script>

    <title>

        {% block title %}

        Club Ledger

        {% endblock %}

    </title>

   
</head>

<body class="bg-gray-100">

    <div class="min-h-screen flex">

        {% include "components/sidebar.html" %}

        <div class="flex-1 flex flex-col">

            {% include "components/navbar.html" %}

            <main class="p-8">

                {% include "components/messages.html" %}

                {% block content %}
                
                {% endblock %}

            </main>

        </div>


    </div>


</body>
</html>