<header class="bg-white shadow">

    <div class="px-8 py-4 flex justify-between items-center">

        <h2 class="text-x1 font-semibold">

                {% block page_title %}

                Dashboard

                {% endblock %}
        </h2>


        {% if user.is_authenticated %}
            <div class="flex items-center gap-4">

                <div class="text-right">
                    <p class="text-sm font-medium text-gray-900">
                        {{ user.get_username }}
                    </p>

                    <p class="text-xs text-gray-500">
                        Sesión activa
                    </p>
                </div>

                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}

                    <button
                        type="submit"
                        class="rounded-lg border border-gray-300
                            bg-white px-3 py-2 text-sm font-medium
                            text-gray-700 transition
                            hover:bg-gray-50 hover:text-gray-900"
                    >
                        Cerrar sesión
                    </button>
                </form>

            </div>
        {% endif %}

    </div>
</header>