{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block page_title %}
    Dashboard
{% endblock %}

{% block content %}

    <div class="grid grid-cols-4 gap-6">

        {% include "components/cards/stat_card.html" with title="Clientes" value=total_customers %}

        {% if active_season %}

            {% include "components/cards/stat_card.html" with title="Temporada" value=active_season.name %}

        {% else %}
            —
        {% endif %}

        {% include "components/cards/stat_card_money.html" with title="Saldo pendiente" value=total_balance %}

        {% include "components/cards/stat_card.html" with title="Transacciones" value=total_transactions %}
            

    </div>


{% endblock %}